footer{
    background-color: $very-dark-blue;
    padding: 45px 25px;
    display: grid;
    grid-template-columns: 1fr;

    @include desktop{
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-areas: 
        "l n i"
        "l n c";
    }

    .input-container{
        grid-column: span 1;

        @include desktop{
            grid-area: i;
            align-items: flex-start;
            margin-top: 50px;
        }

        width: 100%;
        display: flex;
        justify-content: space-between;

        input[type="text"], button{
            padding: 16px 30px;
            border: none;
            border-radius: 32px;
            font-weight: weight(bold);
            margin: 0 5px;
        }

        input[type="text"]{
            flex: 1;

            &:hover{
                outline: 1px solid $bright-red;
            }
        }

        button{
            background-color: $bright-red;
            color: $white;

            &:hover{
                cursor: pointer;
            }
        }

    }

    .footer-nav{
        display: flex;
        justify-content: space-around;
        grid-column: span 1;

        @include desktop{
            grid-area: n;
        }

        margin: 40px 0;
        line-height: 2;

        .nav, .extra-nav{
            list-style: none;

            li{

                a{
                    text-decoration: none;
                    color: $white;

                    &:hover{
                        color: $bright-red;
                    }
                }
            }
        }
    }

    .logo--links{
        display: flex;
        flex-direction: column;

        @include desktop{
            flex-direction: column-reverse;
            justify-content: space-between;
        }

        grid-column: span 1;

        @include desktop{
            grid-area: l;
        }

        .links-container{
            display: flex;
            justify-content: space-evenly;


            img{
                width: 30px;

            }
        }

        img[src="images/logo.svg"]{
            width: 200px;
            height: 30px;
            align-self: center;
            margin-top: 50px;


        }
    }

    .copyright{
        color: $dark-grayish-blue;
        margin-top: 50px;
        text-align: center;

        @include desktop{
            grid-area: c;
        }
        
    }
}